*,
html {
    margin: 0;
    padding: 0;
}
.container {

}
.container-navbar {
    background-color:rgb(61, 59, 59);
    width: 100%;
    height: 10vhvh;
}   
.ul-navbar {
       display: flex;
       height: 100px;
       justify-content: center;
       align-items: center;
}
.li-navbar { 
    list-style-type: none;
    padding: 20px;
    color: aliceblue;
}
.li-navbar:hover{
    background: rgb(255, 143, 143);
   transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.a-navbar {
    color:antiquewhite;
    text-decoration: none;
}

.container-content {
    background-color: black;
     display: flex;
       justify-content: center;
       align-items: center;
       height: 80vh;
}
.a-content {
    width: 720p;
    height: 480p;
    justify-content: center;
    align-items: center;
}
.container-footer {
    background-color: brown;
     display: flex;
       justify-content: center;
       align-items: center;
       height: 10vh;
}
.h1.footer {
    font-size: 40px;
}
